@import './node_modules/font-awesome/scss/font-awesome.scss';


.card {

  width: 200px;
  height: 400px;
  margin: 10px;
  border: 1px solid #424242;
  font-size: 60px;
  float: left;

  &.red {
    color: #FF0000;

  }

  &.blue {
    color: #0000FF;

  }

  &.green {
    color: #00FF00;

  }



}